# Данный файл необходимо переименовать в .env,
# вставьте свой пароль для подключения к БД вместо строки secret password

DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret password
DB_HOST=db
DB_PORT=5432